.container {
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;

}

/*fonts:*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/* 1. logo and navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 70px;

}

nav div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .container h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #08A6E4;
}

.links ul {
        display: flex;
}

.links ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 	0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 80px;
    list-style-type: none;
}

.links ul li a {
    text-decoration: none;
    color: #A5A5A5;
    letter-spacing: 3px;

}

.links ul li a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
    padding: 27px 0;
}

/* 2. banner and heading */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background: url("../images/Background.png") no-repeat bottom/contain;
    padding-top: 150px;

}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3.0625rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

header p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
}

header button {
    margin: 20px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    width: 440px;
    height: 67px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

header button a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;

}

/* 3. why us / icons */

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    height: 500px;
    width: 100%;
    border-bottom: 1px solid #E8E9ED;
}

.why-us h2 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.25rem;
    padding-bottom: 20px;
    font-weight: 400;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 50px;
}
article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 100px;
    width: 330px;
    position: relative;
}

.icons article.why-us-icon::before {
    content: "";
    display: block;
    background-color: #FB3B64;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 120px;
}

.icons article.why-us-icon:nth-of-type(2)::before {
    background-color: #08A6E4;
}

.icons article.why-us-icon:nth-of-type(3)::before {
    background-color: #55DFB4;
}

.icons img {
    padding: 5px 0;
    z-index: 2;
}

.icons h3 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.375rem;
    color: #000000;
}

.icons p {
    text-align: center;
    font-size: 1.0625rem;
    color: #A5A5A5;
}

/* 4. main description / benefits */

main {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

main .container > article {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1124px;
    height: 370px;
    margin: 50px 100px;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

main article .benefits-description {
    width: 416px;
    padding-bottom: 50px;
}

main article h2 {
    font-size: 2.25rem;
    padding-bottom: 30px;
    font-family: Raleway, sans-serif;
    width: 260px;
    font-weight: 400;
}

main article p {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}

main .container > article:nth-child(1)::after {
    content: "";
    padding-bottom: 50px;
    border-bottom: 4px solid #FB3B64;
    width: 328px;
    position: absolute;
    left: 4rem;
    bottom: 3.75rem;
}

main .container article:nth-of-type(1) img {
    height: 219px;
    width: 386px;
    position: relative;
    z-index: 2;
}

main .container article:nth-of-type(2) img {
    height: 328px;
    width: 426px;
    position: relative;
    z-index: 2;
}

main .divided img {
    height: 207px;
    width: 295px;
    position: relative;;
}

main .container article:nth-of-type(2) .benefits-description::after {
    content: "";
    padding-bottom: 50px;
    border-bottom: 4px solid #08A6E4;
    width: 327px;
    position: absolute;
    right: 14rem;
    bottom: 3.125rem;
}

main article:nth-child(1) {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 10px;
}

main article:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
}

article:nth-child(3) {
    width: 60%;
}
article:nth-child(4){
    width: 40%;
    height: 10px;
}

main .container > article:nth-of-type(1) .benefits-image::after {
    content: "";
    position: absolute;
    right: 130px;
    top: 40px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    background: #FB3B64;
    width: 180px;
    height: 180px;
}

main .container > article:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 120px;
    bottom: 40px;
    border-radius: 50%;
    background: #08A6E4;
    width: 320px;
    height: 320px;
}

main section .container .divided {
    background-color: #F7F7F7;
    height: 370px;
}

.divided .benefits-description {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E8E9ED;
    margin-left: 90px;
    margin-right: 50px;
    padding: 20px 50px;
    border-radius: 5px;
    width: 623px;
    margin-bottom: 80px;
}

.divided .benefits-description h2 {
    width: 370px;
    padding-top: 50px;
}

.divided .benefits-description p {
    position: relative;
}

section.divided article.container .benefits-description::after {
    content: "";
    width: 20.4375rem;
    bottom: 40px;
    left: 150px;
    position: absolute;
    border-bottom: 4px solid #55DF84;
    margin-bottom: 100px;
}

.divided .benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55DFB4;
    margin-left: 10px;
    margin-bottom: 80px;
    padding-top: 50px;
    width: 440px;
    height: 370px;
}

/* 5. prices  */

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.price .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1266px;
}

.price h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    }


.price h3 {
    font-size: 2.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.price div:first-of-type h3 {
    color: #FB3B64;
    padding-bottom: 80px;
}

.price div:nth-of-type(2) h3 {
    color: #07ACE6;
}

.price div:nth-of-type(3) h3 {
    color: #55DFB4;
}

.price h4 {
    font-size: 1.3125rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}

.price h5 {
    padding-bottom: 50px;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}

.price div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.price div.small {
    width: 372px;
    height: 461px;
}

.price div:first-of-type {
    border: 1px solid #FB3B64;
    border-radius: 18px;
}

.price div:last-of-type {
    border: 1px solid #55DFB4;
    border-radius: 18px;
}

.price div.large {
    width: 405px;
    height: 500px;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    border-radius: 18px;
}

.price ul {
    list-style-type: none;
}

.price div li {
    padding-bottom: 20px;
    font-size: 	0.875rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.checkmark, .cross {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.begin {

    width: 160px;
    height: 50px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 23px;
    align-self: center;
    position: absolute;

}

.begin a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: #FFFFFF;
}

.button_basic {
    background: #FB3B64;
    margin-top: 20px;
}

.button_professional {
    background-color: #07ACE6;
    margin-top: 250px;
}

.button_premium {
    margin-top: 230px;
    background: #55DFB4;
}


/* 6. questions / contact */

.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-direction: column;
    width: 40%;
    padding-right: 70px;
    padding-bottom: 100px;
}

.contact h2 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 400;

}

.contact .text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 40px;
}

.right {
    width: 40%;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 200px;
}


.photo-icons {
    display: flex;
    font-family: "Open Sans", sans-serif;
    color: #A5A5A5;
    padding-bottom: 350px;
}

.mail-image {
    padding-right: 20px;
}

.mail-image img {
    margin-right: 20px;
}

.phone-image {
    padding-left: 20px;
}

.photo-icons img {
    margin-right: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.25rem;
    color: #08A6E4;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.contact-form label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.contact-form input {
    margin-top: 40px;
}

.checkbox {
    display: flex;
}

.checkbox-text {
    font-size: 0.75rem;
    width: 405px;
    height: 108px;
    text-align: left;
    font-family: "Raleway", sans-serif;
    color: #707070;
    padding-left: 20px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    position: relative;
}

input[type="checkbox"]::after {
    content: "";
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
}

input[type="checkbox"]:checked::after {
    content: "";
    background: #FFFFFF url("../images/Checkmark.svg") no-repeat center;
    width: 24px;
    height: 24px;
}

.contact button {
    width: 226px;
    height: 57px;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    font-size: 0.8125rem;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 230px;
}

input[type="text"] {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;

    border-bottom-color: #707070;
    border-bottom-width: 1px;
}

/* 7. footer */

footer {
    width: 100%;
    height: 89px;
    background-color: #F7F7F7;
    box-shadow: 0 5px 40px #00000029;
    position: absolute;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #08A6E4;
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer .left {
    display: flex;
    flex-direction: column;
}

footer p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #A5A5A5;
    font-size: 0.6875rem;
}

footer .right img {
    float: right;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}